<h1> Demo#Hello </h1>
<p>Heloo World</p>
<%=1+1%>
<br />

<% target = "world" %>
<%= "Hello #{target}"%><br />

<%= @array.each do |n| %>
    <%= n %>
<% end %>

<br />
<a href="/demo/index">Index Page 1</a><br />
<%= link_to('Index page 2',{:action=>'index'}) %>

<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
page: <%= @page %><br />
Next page: <%= @page + 1 %><br />
<hr />
<%= params.inspect %>

